<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
      <add name="cnStr" connectionString="Database=A;server=.\SERVER1;Integrated Security=true;" />
      <add name="Quản_Lý_Cửa_Hàng_Tiện_Lợi.Properties.Settings.AConnectionString"
          connectionString="Data Source=.;Initial Catalog=A;Integrated Security=True"
          providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>